h1{
    color:blue;
}



#id_title,
#id_subtitle,
#id_author,
#id_body,
#id_create {
    padding: 5px;
    margin: 5px; 
    width: 100%;
    border-radius: 8px;

}
.author-options {
    text-align: right;
}

.card {
    margin: 10px;
}
.post-dtail {
    border-radius: 10px;
    border: 1px solid black;
}